* {background-color: rgb(190, 190, 189);}
.heading-one {color: rgb(156, 76, 141);}
.heading-three {color: rgb(196, 129, 28);}
.heading-five {color: rgb(210, 140, 142);}
.peanut-cookies {width: 300px; height: fit-content;}